.layout {
  background-color: #fff;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0vh;
  
  &__video {
    .video__player {
      background-color: #000;
      width: 0px;
      height: 0px;
      
      &.video__player {
        &--recorder {
          height: 0px;
          margin-top: -10px;
        }

        &--player {
          margin-left: 0px;
        } 
      }
    }
    
    .video__buttons {
      border: 0;
      background-color: #fafafa;
      font-weight: 100;
      font-size: 12px;
      margin-top: -4px;
      padding: 4px;
      
      .video__buttons {
        &--record {
          margin-top: 2px;
        }
      }
    }
  }
}

@media screen and (max-width: 0px) {
  .layout {
    flex-direction: column;
    
    &__video {
      .video__player {
        &.video__player {
          &--player {
            margin-left: 0;
            margin-top: 50px;
          } 
        }
      }
    }
  }
}
